@model IEnumerable<ArticleViewModel>

@{
	ViewData["Title"] = "Articles";

	var articles = Model.ToList();
}

<div class="container mt-4">
	@if (@articles.Any())
	{
		<h1>Articles</h1>
		<div class="row">
			@foreach (var article in articles)
			{
				<div class="col-md-4 mb-4">
					<div class="card bg-green" style="width: 18rem;">
						<div class="card-img-container">
							<img src="@article.ImageUrl" class="card-img-top" alt="...">
						</div>
						<div class="card-body">
							<h5 class="card-title">@article.Title</h5>
							<p class="card-text text-muted">Created by: @article.CreaterEmail</p>
							<p class="card-text text-muted">Likes: @article.Likes</p>
							<a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary btn-details">Details</a>
						</div>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<h1>There is no articles yet!</h1>
		<div class="row">
			<h3>Be the first one to <a href="@Url.Action("Create", "Article")">create</a> article.</h3>
		</div>
	}

</div>
