@model ArticleDetailsViewModel

@{
	ViewData["Title"] = $"Article details";
}

<div class="container mt-4">
    <div class="row">
        <!-- Left column with animal information -->
        <div class="col-md-6">
            <h1 class="display-4 mb-0">@Model.Title</h1>
            <h3><span class="text-muted">Created by: @Model.CreaterEmail</span></h3>
            <h4><span class="text-muted">Likes: @Model.Likes</span></h4>
            <p class="lead mt-3">@Model.Description</p>

            @if (Model.UserIsCreater)
            {
                <a asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            }
            else
            {
                @if (Model.ShowLikeButton)
                {
                    <a asp-controller="Article" asp-action="Like" asp-route-id="@Model.Id" class="btn btn-success">Like</a>
                }
            }
        </div>
        <!-- Right column with animal photo -->
        <div class="col-md-6">
            <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid rounded shadow-lg">
        </div>
    </div>
</div>
